body {
    font-weight: normal;
    font-style: normal;
    color: #777; 

    margin:0;

    background-color: #F7B9AB;
}

/* this part will give each section a min height that is the height of the window */
main > section {
    min-height: 100vh;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 1em;

    color: #eee;

    background-color: #F7B9AB;
}

nav h1, ul {
    margin: 0;
    font-family: "Bungee";
}

nav a {
    text-decoration: none;
    color: #3a3a3a;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    /* give the links a little space */
    padding: 1em;
    color: #3a3a3a;
}

nav ul a:hover {
    color: #eee;

    font-style: italic;

}

#banner section {
    color: #000;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;

    box-shadow: 0 0 20px #000;
}

#banner section:hover {
    background-color: #eee;
}

#banner h2 {
    font-size: 2em;
    font-family: "Bungee Shade";
    text-align: center;

    color: #3a3a3a;

    margin: 0 0 1rem 0;
}

#banner a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.hola {
  width: 1200px;
  margin-top:19px;
  border-bottom: 2px dotted; 
  border-style: dotted;
  border-color:purple;
  border-width: thick;
  text-align: center;
}

.image {
    flex-basis: 40%;
}

.text {
    font-size: 20px;
    padding: 20px;
    margin: 0 0 1rem 0;
    color: #3a3a3a;
    align-items: center;
}

.text p{
    font-family: "Roboto";
    text-align: center;
}

form button {
    width: auto;
    font-size: 1em;
    font-family: "Bungee";
    margin: 1em;
    align-self: center;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.65);
    color: #000;
    border: none;
    border-radius: 8px;
}

form button:hover {
    box-shadow: 0 0 20px #000;
}

#intro {
    background-color: #517A65;
    display: flex;
    justify-content: center;
    align-items: baseline;

}

#intro h4 {
    font-family: "Bungee Shade";
    font-size: 3em;
    color: #F7B9AB;

}

#alphabet ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.65);

    justify-content: space-between;

    color: #000;
}

.card:hover {
    box-shadow: 0 0 20px #000;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 5em;
    font-family: "Bungee Shade";
}

.card p {
    font-family: "Bungee";
}

.card h3, .card p {
    margin: 1rem;
    display: inline;
    position: relative;
    
}

#contact {
    font-family: "Bungee";

    color: #3a3a3a;

    background-color: #F7B9AB;

    background-image: url(images/flwr-bg.png);

    background-attachment: fixed;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7em;
}

#contact > form {
    display: flex;
}

#contact > form > div {
    display: flex;
    flex-direction: column;
}

#contact label {
    display: flex;
    flex-direction: column;
}

label {
    margin 1em 0;
}

label span {
    margin: 1em 0;
}

input, textarea {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0.75em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;

    background-color: rgba(255, 255, 255, 0.65);
}

textarea {
    height: 9em;
    margin: 0 0 0 0;
}

form button {
    width: auto;
    font-size: 1em;
    margin: 1em;
    align-self: flex-end;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.65);
    color: #000;
    border: none;
    border-radius: 8px;
}

form button:hover {
    box-shadow: 0 0 20px #000;
}