<!-- templates/partials/comment_form.html -->

<form>
    <fieldset>
        <legend>Add a Comment</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='comment-title'>Title</label><br>
            <input class='form-control'
                id='comment-title'
                type='text'
                name='title'
                placeholder='Title'/>
        </div>

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='comment-content'>Description</label><br>
            <textarea class='form-control'
                id='comment-content'
                name='content'
                rows='10'
                placeholder='Your comment...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Save Comment</button>
    </div>
</form>
