<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Period Alphabet</title>

        <!--This is where the CSS file is linked into the HMTL-->
        <link rel="stylesheet" href="styles.css">

        <!--Animate on scroll link step 1-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.gstatic.com">

        <!--Using Google Fonts API for a nice font-->
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    
</head>
<body>

    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}

</body>
</html>